*{

  padding: 0px;
  margin: 0px;
  font-size: 0px;
  box-sizing: border-box;
  text-align: center;

}


.status-bar__column span{

  font-size: 15px;
}


.status-bar{

  display: inline-flex;
  justify-content: space-between;
  width: 100%;

}