.find-icons {
    display:flex;
    justify-content: space-between;
}

.Find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Find-icons__icon i {
    font-size:35px;
}