.nav {
    position: fixed;
    bottom:0px;
    width:100%;
    background-color: whitesmoke;
    padding:20px 50px;
    box-sizing: border-box;
    border-top:1px solid  rgba(121,121,121,0.3)

  }
  .nav__list {
    display:flex;
    justify-content:space-around;
    flex-direction: row;
  }
  .nav__link {
    position:relative;
    color:var(--blue);
  }
  .nav__notification {
    background-color: red;
    width: 25px;
    height: 25px;
    display: flex;
    border-radius:12.5px;
    justify-content: center;
    align-items:center;
    color:white;
    font-weight: 600;
    position:absolute;
    bottom:15px;
    left:15px;
  }
  .nav__notification2 {
    background-color: red;
    width: 7px;
    height: 7px;
    display: flex;
    border-radius:3.5px;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    position:absolute;
    bottom:20px;
    left:30px;
  }
